services:
  app:
    container_name: kicks_dev
    build:
      context: .
      target: development
    ports:
      - '5173:5173'
    volumes:
      - .:/var/www
    environment:
      NODE_ENV: development
    restart: unless-stopped
