name: Build, Push and Deploy a Docker Image

on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  build-push-deploy-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image (production)
        uses: docker/build-push-action@v6
        with:
          context: .
          target: production
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}:latest
            ghcr.io/${{ github.repository_owner }}:${{ github.sha }}

      # - name: Deploy the app
      #   uses: digitalocean/app_action/deploy@v2
      #   env:
      #     SAMPLE_DIGEST: ${{ steps.push.outputs.digest }}
      #   with:
      #     token: ${{ secrets.YOUR_DIGITALOCEAN_ACCESS_TOKEN_VARIABLE_NAME }}
